$a4-width: 3508px;
$a4-height: 2480px;
$right-side-a4-width: 980px;

// Calculated sizes in proportion to A4
$right-side--width: percentage($right-side-a4-width / $a4-width) / 100%;
$right-side--width: calc(100vw * #{$right-side--width});

$right-side--padding-top: percentage(70px / $a4-height) / 100%;
$right-side--padding-top: calc(100vh * #{$right-side--padding-top});

$right-side--padding-right: percentage(60px / $a4-height) / 100%;
$right-side--padding-right: calc(100vw * #{$right-side--padding-right});

$right-side--padding-bottom: percentage(70px / $a4-height) / 100%;
$right-side--padding-bottom: calc(100vh * #{$right-side--padding-bottom});

$right-side--padding-left: percentage(90px / $a4-width) / 100%;
$right-side--padding-left: calc(100vw * #{$right-side--padding-left});

$right-side-header--padding-right: percentage(300px / $a4-width) / 100%;
$right-side-header--padding-right: calc(100vw * #{$right-side-header--padding-right});

$right-side-header--padding-bottom: percentage(90px / $a4-height) / 100%;
$right-side-header--padding-bottom: calc(100vh * #{$right-side-header--padding-bottom});

$right-side-header--margin-bottom: percentage(60px / $a4-height) / 100%;
$right-side-header--margin-bottom: calc(100vh * #{$right-side-header--margin-bottom});

$logo--width: percentage(390px / $a4-width) / 100%;
$logo--width: calc(100vw * #{$logo--width});

$logo--margin-bottom: percentage(45px / $a4-height) / 100%;
$logo--margin-bottom: calc(100vh * #{$logo--margin-bottom});

$h1--font-size: percentage(50px / $a4-height) / 100%;
$h1--font-size: calc(100vh * #{$h1--font-size});

$slogan--font-size: percentage(40px / $a4-height) / 100%;
$slogan--font-size: calc(100vh * #{$slogan--font-size});

$p--font-size: percentage(30px / $a4-height) / 100%;
$p--font-size: calc(100vh * #{$p--font-size});

$left-side--background-height: percentage(121px / $a4-height) / 100%;
$left-side--background-height: calc(100vh * #{$left-side--background-height});

$left-side--padding-left: percentage(120px / $a4-width) / 100%;
$left-side--padding-left: calc(100vw * #{$left-side--padding-left});

$left-side-header-height: percentage(685px / $a4-height) / 100%;
$left-side-header-height: calc(100vh * #{$left-side-header-height});

$left-side-logo--width: percentage(420px / $a4-width) / 100%;
$left-side-logo--width: calc(100vw * #{$left-side-logo--width});

$project-gap: percentage(40px / $a4-width) / 100%;
$project-gap: calc(100vw * #{$project-gap});

$team-img--width: percentage(130px / $a4-width) / 100%;
$team-img--width: calc(100vw * #{$team-img--width});

$team-gap: percentage(110px / $a4-height) / 100%;
$team-gap: calc(100vh * #{$team-gap});

$letter-spacing: percentage(5px / $a4-width) / 100%;
$letter-spacing: calc(100vw * #{$letter-spacing});

$border-color: #475db8;

.flyer {
  display: flex;
  margin: 0;
  height: 100vh;

  // BASICS

  h1, h2, h3 {
    margin: 0;
    font-family: "Archia", sans-serif;
  }

  p {
    font-size: $p--font-size;
    margin: 0;
  }

  a {
    color: $blue;
    text-decoration: none;
    border-bottom: 0.5px solid;
    font-weight: 600;
  }

  h1 {
    font-size: $h1--font-size;
    font-weight: 600;
    line-height: 2.16;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      background: $light-blue;
    }
  }

  h3 {
    color: $gray;
  }

  // RIGHT SIDE

  &__right {
    width: $right-side--width;
    padding: $right-side--padding-top $right-side--padding-right $right-side--padding-bottom $right-side--padding-left;
    background-image: linear-gradient(172deg, #0D258D 0%, #253EA7 84%, #253EA7 84%);

    color: $white;
    font-weight: 300;

    display: flex;
    flex-direction: column;

    &__header {
      padding-right: $right-side-header--padding-right;
      padding-bottom: $right-side-header--padding-bottom;
      margin-bottom: $right-side-header--margin-bottom;
      font-family: "Archia", sans-serif;
      border-bottom: 1px solid $border-color;
      line-height: 1.8;

      img {
        width: $logo--width;
        margin-bottom: $logo--margin-bottom;
      }

      .slogan {
        font-size: $slogan--font-size;
      }
    }

    // TEAM

    &__team {
      flex: 1;
      display: flex;
      flex-direction: column;

      h1 {
        margin-bottom: calc(#{$team-gap} / 3);

        &::before {
          left: calc(-1 * #{$right-side--padding-left});
          width: calc(#{$right-side--padding-left} / 4);
        }
      }

      .team {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &-member {
          display: flex;

          img {
            border-radius: 50%;
            overflow: hidden;
            width: $team-img--width;
            margin-right: calc(#{$team-gap} / 3);
          }

          strong {
            font-weight: 600;
          }

          a {
            color: $white;
            font-weight: 300;
            font-size: $p--font-size;
          }

          .contact-info {
            line-height: 1.8;
          }
        }
      }

      .footer {
        border-top: 1px solid $border-color;
        padding-top: calc(#{$team-gap} / 2);
        margin-bottom: $team-gap;

        a {
          color: $white;
        }
      }
    }
  }

  // LEFT SIDE

  &__left {
    flex: 1;
    position: relative;
    padding: $left-side--padding-left;
    color: $dark-blue;

    display: flex;
    flex-direction: column;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: $left-side--background-height;
      width: 100%;

      background: url("/mild-blue/assets/flyer-background.png");
      background-size: contain;
    }

    &__header {
      display: flex;
      padding-top: $left-side--background-height;
      padding-bottom: $left-side--background-height;
      height: $left-side-header-height;

      .texts {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }

      img {
        width: $left-side-logo--width;
        margin: 0 $team-img--width;
      }
    }

    h1 {
      &::before {
        top: 50%;
        transform: translateY(-50%);
        left: calc(-1.25 * #{$left-side--padding-left});
        width: $left-side--padding-left;
        height: $left-side--padding-left;
      }
    }
  }

  // PROJECTS

  &__project {
    margin: $project-gap;
    padding: $project-gap;
    box-shadow: calc(#{$project-gap}) calc(#{$project-gap}) 0 $light-blue;
    border: 1px solid darken($light-blue, 10%);

    flex-basis:calc( 50% - #{$project-gap} * 2);

    span, strong {
      font-family: "Archia", sans-serif;
    }

    span {
      text-transform: uppercase;
      color: $gray;
      letter-spacing: $letter-spacing;
      font-weight: 700;
      margin-top: calc(#{$project-gap} / 4);
      display: block;
      font-size: calc(0.8 * #{$p--font-size});
    }

    .desc {
      margin-top: calc(#{$project-gap} / 2);
      line-height: 1.8;
    }

    &-list {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      margin-left: calc(-1 * #{$project-gap});
      margin-right: calc(-1 * #{$project-gap});
      margin-top: $project-gap;
    }
  }
}
