$a4-width: 3508px;
$a4-height: 2480px;
$left-side-a4-width: 980px;

// Calculated sizes in proportion to A4
$left-side--width: percentage($left-side-a4-width / $a4-width) / 100%;
$left-side--width: calc(100vw * #{$left-side--width});

$left-side--padding-top: percentage(70px / $a4-height) / 100%;
$left-side--padding-top: calc(100vh * #{$left-side--padding-top});

$left-side--padding-right: percentage(45px / $a4-height) / 100%;
$left-side--padding-right: calc(100vw * #{$left-side--padding-right});

$left-side--padding-bottom: percentage(70px / $a4-height) / 100%;
$left-side--padding-bottom: calc(100vh * #{$left-side--padding-bottom});

$left-side--padding-left: percentage(90px / $a4-width) / 100%;
$left-side--padding-left: calc(100vw * #{$left-side--padding-left});

$left-side-header--padding-right: percentage(300px / $a4-width) / 100%;
$left-side-header--padding-right: calc(100vw * #{$left-side-header--padding-right});

$left-side-header--padding-bottom: percentage(90px / $a4-height) / 100%;
$left-side-header--padding-bottom: calc(100vh * #{$left-side-header--padding-bottom});

$left-side-header--margin-bottom: percentage(70px / $a4-height) / 100%;
$left-side-header--margin-bottom: calc(100vh * #{$left-side-header--margin-bottom});

$logo--width: percentage(390px / $a4-width) / 100%;
$logo--width: calc(100vw * #{$logo--width});

$logo--margin-bottom: percentage(20px / $a4-height) / 100%;
$logo--margin-bottom: calc(100vh * #{$logo--margin-bottom});

$h1--font-size: percentage(50px / $a4-height) / 100%;
$h1--font-size: calc(100vh * #{$h1--font-size});

$p--font-size: percentage(30px / $a4-height) / 100%;
$p--font-size: calc(100vh * #{$p--font-size});

// Top left corner
$slogan--font-size: percentage(40px / $a4-height) / 100%;
$slogan--font-size: calc(100vh * #{$slogan--font-size});

// Big heading on the right side
$motto--font-size: percentage(75px / $a4-height) / 100%;
$motto--font-size: calc(100vh * #{$motto--font-size});

$right-side--background-height: percentage(121px / $a4-height) / 100%;
$right-side--background-height: calc(100vh * #{$right-side--background-height});

$right-side--padding-left: percentage(120px / $a4-width) / 100%;
$right-side--padding-left: calc(100vw * #{$right-side--padding-left});

$right-side-header-height: percentage(550px / $a4-height) / 100%;
$right-side-header-height: calc(100vh * #{$right-side-header-height});

$right-side-logo--width: percentage(420px / $a4-width) / 100%;
$right-side-logo--width: calc(100vw * #{$right-side-logo--width});

$project-gap: percentage(40px / $a4-width) / 100%;
$project-gap: calc(100vw * #{$project-gap});

$team-img--width: percentage(130px / $a4-width) / 100%;
$team-img--width: calc(100vw * #{$team-img--width});

$team-gap: percentage(110px / $a4-height) / 100%;
$team-gap: calc(100vh * #{$team-gap});

$letter-spacing: percentage(2px / $a4-width) / 100%;
$letter-spacing: calc(100vw * #{$letter-spacing});

$border-color: #475db8;
$gradient-background: linear-gradient(172deg, #0D258D 0%, #253EA7 84%, #253EA7 84%);

.flyer {
  display: flex;
  margin: 0;
  height: 100vh;
  font-family: $font-family-secondary;

  // BASICS

  h1, h2, h3 {
    margin: 0;
  }

  p {
    font-size: $p--font-size;
    margin: 0;
  }

  a {
    color: $blue;
    text-decoration: none;
    border-bottom: 0.5px solid;
    font-weight: 600;
  }

  h1 {
    font-size: $h1--font-size;
    font-weight: 600;
    line-height: 2.16;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      background: $light-blue;
    }
  }

  h3 {
    color: $gray;
  }

  // LEFT SIDE

  &__left {
    width: $left-side--width;
    padding: $left-side--padding-top $left-side--padding-right $left-side--padding-bottom $left-side--padding-left;
    background-image: $gradient-background;

    color: $white;
    font-weight: 300;

    display: flex;
    flex-direction: column;

    &__header {
      padding-right: $left-side-header--padding-right;
      padding-bottom: $left-side-header--padding-bottom;
      margin-bottom: $left-side-header--margin-bottom;
      border-bottom: 1px solid $border-color;
      line-height: 1.6;

      img {
        width: $logo--width;
        margin-bottom: $logo--margin-bottom;
      }

      .slogan {
        font-size: $slogan--font-size;
      }
    }

    // TEAM

    &__team {
      flex: 1;
      display: flex;
      flex-direction: column;

      h1 {
        margin-bottom: calc(#{$team-gap} / 3);

        &::before {
          left: calc(-1 * #{$left-side--padding-left});
          width: calc(#{$left-side--padding-left} / 4);
        }
      }

      .team {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: calc(#{$team-gap} / 2) 0;

        &-member {
          display: flex;

          img {
            border-radius: 50%;
            overflow: hidden;
            width: $team-img--width;
            margin-right: calc(#{$team-gap} / 3);
          }

          strong {
            font-weight: 600;
          }

          a {
            color: $white;
            font-weight: 300;
            font-size: $p--font-size;
          }

          &__desc {
            line-height: 1.6;
            font-weight: 400;

            display: flex;
            flex-direction: column;
            justify-content: center;
          }

          .contact-info {
            line-height: 1.8;
          }
        }
      }

      .footer {
        border-top: 1px solid $border-color;
        padding-top: calc(#{$team-gap} / 2);
        margin-bottom: calc(#{$team-gap} / 1.5);
        line-height: 1.6;
        font-size: calc(#{$p--font-size} * 0.8);

        a {
          color: $white;
        }
      }

      // Custom styles for different team sizes
      &.size {
        &--5 {

          h1 {
            margin-top: calc(#{$team-gap} / 3);
            margin-bottom: 0;
          }

          .team {
            justify-content: space-around;
          }
        }
      }
    }
  }

  // RIGHT SIDE

  &__right {
    flex: 1;
    position: relative;
    padding: $right-side--padding-left;
    color: $dark-blue;

    display: flex;
    flex-direction: column;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: $right-side--background-height;
      width: 100%;

      background: url("/mild-blue/assets/flyer-background.png");
      background-size: contain;
    }

    &__header {
      display: flex;
      padding-top: calc(#{$right-side--background-height} / 4);
      margin-bottom: calc(#{$right-side--background-height});
      height: auto;
      //height: $right-side-header-height;

      .texts {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title {
          font-size: $motto--font-size;
          font-weight: 300;
          line-height: 1.6;
        }

        .subtitle {
          line-height: 1.6;
        }
      }

      img {
        width: $right-side-logo--width;
        margin: 0 $team-img--width;
      }
    }

    h1 {
      &::before {
        top: 50%;
        transform: translateY(-50%);
        left: calc(-1.25 * #{$right-side--padding-left});
        width: $right-side--padding-left;
        height: $right-side--padding-left;
      }
    }
  }

  // PROJECTS

  &__project {
    margin: $project-gap;
    padding: $project-gap $project-gap calc(#{$project-gap} * 1.5);
    box-shadow: #{$project-gap} #{$project-gap} 0 $light-blue;
    border: 1px solid darken($light-blue, 10%);

    flex-basis: calc(50% - #{$project-gap} * 2);

    strong {
      font-size: calc(#{$p--font-size} * 1.4);
    }

    span {
      text-transform: uppercase;
      color: $gray;
      letter-spacing: $letter-spacing;
      font-weight: 700;
      margin-top: calc(#{$project-gap} / 1.5);
      display: block;
      font-size: calc(0.8 * #{$p--font-size});
    }

    .desc {
      margin-top: calc(#{$project-gap});
      line-height: 1.8;
    }

    &-list {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      margin-left: calc(-1 * #{$project-gap});
      margin-right: calc(-1 * #{$project-gap});
      margin-top: calc(#{$project-gap} / 2);
    }

    &.cooperation {
      background: $gradient-background;
      color: $white;
      border-color: #475db8;
      box-shadow: #{$project-gap} #{$project-gap} 0 #475db8;

      .desc {
        // todo
        margin-top: calc((0.8 * #{$p--font-size}) + (#{$project-gap} / 1.5) + #{$project-gap});
      }
    }
  }
}
