@import "definitions/fonts";
@import "definitions/colors";

// Pages
@import "pages/homepage";
@import "pages/flyer";
@import "pages/presentation";

// Reset
body {
  margin: 0;
  font-family: $font-family-base;

  * {
    box-sizing: border-box;
  }
}
